<h2 class="mb-3">Contatos</h2>

<div class="row mb-3">
  <div class="col-md-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Pesquisar por nome ou e-mail" [formControl]="searchControl">
    </div>
  </div>
  <div class="col-md-6 text-right">
    <button routerLink="/contatos/incluir" class="btn btn-success">incluir</button>
  </div>
</div>

<table class="table my-4">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">E-mail</th>
      <th scope="col">Telefones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contact of contacts">
      <th scope="row">{{ contact.contactId }}</th>
      <td>{{ contact.name }}</td>
      <td>{{ contact.email }}</td>
      <td>
        <span *ngFor="let phone of contact.phones; let last = last">
          {{ phone.phone }}<span *ngIf="!last">, </span>
        </span>
      </td>
    </tr>
  </tbody>
</table>
