<h2 class="mb-3">Incluir Contato</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <div class="row">

    <div class="col-12 col-lg-6">

      <div class="form-group">

        <label>Nome:</label>
        <input type="text" id="name" class="form-control" formControlName="name" required>

        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">

          <div *ngIf="name.errors?.required">
            Nome é obrigatório.
          </div>
        </div>

      </div>

    </div>

    <div class="col-12 col-lg-6">

      <div class="form-group">

        <label>E-mail:</label>

        <input type="email" id="email" class="form-control" formControlName="email" required>

        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">

          <div *ngIf="email.errors?.required">
            E-mail é obrigatório.
          </div>
          <div *ngIf="email.errors?.email">
            E-mail inválido.
          </div>

        </div>

      </div>

    </div>

  </div>

  <div class="row">
    <div class="col-12">
      <label>Telefones:</label>
      <div formArrayName="phones">
        <div *ngFor="let phone of phones.controls; let i = index" class="form-group d-flex mb-2">
          <input [formControlName]="i" class="form-control mr-2" placeholder="Telefone">
          <button type="button" class="btn btn-danger" (click)="removePhone(i)" *ngIf="phones.length > 1">Remover</button>
        </div>
      </div>
      <button type="button" class="btn btn-primary mb-3" (click)="addPhone()">Adicionar Telefone</button>
    </div>
  </div>

  <button [disabled]="sending" type="submit" class="btn btn-success">incluir</button>

</form>

