version: '3.8'
services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: avalyst_teste
      MYSQL_USER: root
      MYSQL_PASSWORD: root
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
  php:
    build: ./back-end
    ports:
      - "8080:80"
    volumes:
      - ./back-end:/var/www/html
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_DATABASE: avalyst_teste
      DB_USERNAME: root
      DB_PASSWORD: root
volumes:
  db_data:
